* {
  margin: 0px;
}

/* shared  */

/* header section start */
.header {
  background-image: url(images/Hero-bg.png);
  background-repeat: no-repeat;
}

nav {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 40px 150px;
}

.nav-logo {
  font-size: 34px;
  font-weight: 600;
  color: rgba(78, 71, 255, 1);
}

.nav-btn {
  background-color: rgba(78, 71, 255, 1);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 12px 36px;
  font-size: 16px;
  font-weight: bold;
}

.banner {
  text-align: center;
  padding-top: 158px;
  padding-bottom: 140px;
}

.banner-text {
  font-size: 65px;
  font-weight: bold;
  padding-bottom: 38px;
}
/* Header section end */

/* main section start  */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* contact section start */
.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 71px 0px;
}
.contact-title {
  font-size: 97px;
  font-weight: 500;
}

.data-box {
  height: 30px;
  width: 500px;
  border-radius: 10px;
}
.msg-box {
  height: 60px;
  width: 500px;
  border-radius: 10px;
}

.input-margine {
  margin: 10px 0px;
}

.contact-btn {
  background-color: rgba(78, 71, 255, 1);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 19px 205px;
  font-size: 16px;
  font-weight: bold;
}
/* contact section end */

/* main section end  */

/* footer start */
footer {
  text-align: center;
}
.footer-logo {
  font-size: 100px;
  font-weight: 700;
  color: rgba(78, 71, 255, 1);
  margin-top: 104px;
}

.footer-text {
  font-size: 14px;
  font-weight: 100;
}
ul li {
  list-style: none;
  margin-top: 30px;
  margin-bottom: 104px;
}

ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.menu {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0px;
}
/* footer end */
